body{
    margin: 0;
    line-height: 1.6em;
    padding-bottom: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    background-color: #f5f5f5;
    padding: 0;
    
}

#container{
    background-image: url(./crowdfunding-product-page-main/images/image-hero-desktop.jpg);
    min-height: 400px; 
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -1.6%;
}

#bookmark-img{
    width: 3.5%;
    margin-left: 59.8%;
    top: 66.7%;
    position: absolute;
}

#container-1{
    margin: auto;
    width: 80%;
}

#logo{
    color: #fff;
    font-family: 'Commissioner', sans-serif;
    padding: 5%;
    font-size: 16px;
}

#container-2{
    margin: auto;
    width: 40%;
    border-radius: 7px;
    border: white 1px solid;
    min-height: 30px;
    padding: 5%;
    margin-top: -8%;
    background-color: white;
    box-shadow: 0px 0px 1px 1px #808080;
}

#container-2 img{
    margin-left: 45%;
    position: absolute;
    top: 36%;
    right: 48%;
}

#main-navbar ul{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin-left: 66%;
    margin-top: -8%;
}

#main-navbar li{
    display: inline;
}
/* 
@media (max-width: 768px){
    #main-navbar li{
    display: block;
    font-size: 11px;
    }
} */

#main-navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding-right: 10px;
}

#container-2 h2{
    text-align: center;
    font-family: 'Commissioner', sans-serif;
    font-size: 24px;
    margin-top: -2%;
}

#container-2 p{
    text-align: center;
    font-size: 16px;
    color: #808080;
}

#first-btn{
  background-color: hsl(176, 50%, 47%);
  border: none;
  color: white;
  padding: 17px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 50px;
}

.button{
    padding-top: 3%;
}

#second-btn{
  background-color: hsl(176, 50%, 47%);
  border: none;
  color: white;
  padding: 17px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50px;
  float: right;
  font-size: 13px;
  padding-left: 9%;
}

.clr{
    clear: both;
}

#container-3{
    margin: auto;
    width: 40%;
    border-radius: 7px;
    border: white 1px solid;
    min-height: 30px;
    padding: 5%;
    padding-top: 3%;
    background-color: white;
    margin-top: 1%;
    box-shadow: 0px 0px 1px 1px #808080;
    height: 60px;
}

#first-item{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Commissioner', sans-serif;
}

.span{
    font-size: 14px;
    margin-top: -2%;
    color: #808080;
    width: 80%;
}

#second-item{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Commissioner', sans-serif;
    padding-left: 7%;
}

.container-3a{
  float: left;
  width: 30%;
  margin-left: 3%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-left: none;
  border-top: none;
  border-bottom: none;
  padding: auto;
}


#third-item{
    padding-left: 7%;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Commissioner', sans-serif;
    border-right: none;
}

#container-4{
    margin: auto;
    width: 40%;
    border-radius: 7px;
    border: white 1px solid;
    min-height: 900px;
    padding: 5%;
    padding-top: 1%;
    background-color: white;
    margin-top: 1%;
    box-shadow: 0px 0px 1px 1px #808080;
    height: 60px;
}

main{
    min-height: 1600px;
}

#container-4 h3{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Commissioner', sans-serif;   
}

#container-5{
    font-size: 14px;
    margin-top: -2%;
    color: #808080;
    width: 100%;
    font-family: 'Commissioner', sans-serif;
}

#container-6{
    font-size: 14px;
    color: #808080;
    width: 100%;
    margin-top: 5%;
    font-family: 'Commissioner', sans-serif;
}

.container{
    margin: auto;
    width: 80%;
    border-radius: 7px;
    border: white 1px solid;
    padding: 5%;
    padding-top: 2%;
    background-color: white;
    margin-top: 2%;
    box-shadow: 0px 0px 1px 1px #808080;  
    height: 16%;
    font-size: 16px;
}

.heading-3{
    margin-top: 2%;
    font-size: 16px;
    font-weight: 700;
}

.Pledge{
    margin-top: -10%;
    margin-left: 67%;
    font-size: 14px;
    color: hsl(176, 50%, 47%);
    font-weight: 600;
    font-family: 'Commissioner', sans-serif;
}

.item-paragraph{
    font-size: 14px;
    color: #808080;
    padding-top: -8%;
}

.reward-btn{
    background-color: hsl(176, 50%, 47%);
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 50px;
    margin-left: 62%;
}

#reward-btn{
    background-color: #808080;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 50px;
    margin-left: 62%;
}

.item{
    font-weight: 700;
    font-size: 22px;
}

span{
    font-size: 10px;
    font-weight: 30;
}

.last-paragraph{
    margin-top: -4%;
}

#last-container{
    margin: auto;
    width: 80%;
    border-radius: 7px;
    border: white 1px solid;
    padding: 5%;
    padding-top: 2%;
    background-color: white;
    margin-top: 2%;
    box-shadow: 0px 0px 1px 1px #808080;  
    height: 16%;
    font-size: 16px;
    background-color: #c0c0c0;
    opacity: 0.25;
}